body {
    background-color: azure;
}

div.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.card {
    background-color: aqua;
    flex-basis: 22%;
    margin: 1.5%;
}